<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    
    <application
        android:label="tranziparound"
        android:icon="@mipmap/ic_launcher">
        
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDYKZZlJke5_uzs_jzNkVAvR1ANv0GIB90"/>

    </application>
</manifest>
